body {
  margin: 0;
  font-family: Arial, sans-serif;
  text-align: center;
  background: #f4f4f4;
}
#map {
  height: 90vh;
  width: 95%;
  margin: 10px auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
h2 {
  background: #2b7a78;
  color: white;
  padding: 10px;
  border-radius: 0 0 10px 10px;
}
h3 {
  color: #2b7a78;
  font-size: 1.4em;
  text-align: center;
  font-weight: bold;
}
